@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home - SMS Jumble Application</h1>
    <p class="lead">This site has been created by Pargat Nandra</p>
    
    <p class="body-content">Click on <a href="./Home/SMSRecord">View SMS Record</a> to view records</p>
</div>
