@model IEnumerable<TwilioSMSTestWebApp.Models.SMSRecord>

@{
    ViewBag.Title = "SMS Record View";
}

<h2>SMS Records</h2>

<table class="table">
    <tr>
        <th>
            Message In
        </th>
        <th>
            Message Out
        </th>
        <th>
            Time Stamp
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vchMessageIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vchMessageOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dttmTimeStamp)
        </td>
    </tr>
}

</table>
