@{
    ViewBag.Title = "Contact";
}
<h2>Pargat Nandra</h2>

<address>
    587-899-2875
</address>

<address>
    <strong>E-Mail:</strong>   <a href="mailto:pnandra@yahoo.com">pnandra@yahoo.com</a><br />
    <strong>Linked In</strong> <a href="https://www.linkedin.com/in/pargat-nandra-8b078811/">Pargat Nandra</a>
</address>